<h1>Rankings</h1>
<center><table border>
  <tr><th>Username</th><th>Nation</th><th>People</th></tr>
<% @users.each do |user| %>
<tr><td><%= user.user_name %></td><td><%= user.nation_name %></td><td><%= user.people.count %></td></tr>
<% end %>
</table></center>
