<br/><%= image_tag("einstein.png", :size => "250x200") %>
<h1>Congratulations.<br/>It is 1905.<br/>The country of <%= @user.nation_name %> has successfully<br/>discovered the theory of special relativity.<br/>Enjoy the race.<br/>
<br/><br/>
Click <%= link_to "here", login_path %> to log in.</h1>
<p></p>
