<div class="bigger_body">
<h1>THE MANHATTAN PROJECT</h1>

<p><b>OBJECT:</b> Be the first to build the atomic bomb.  Gain scientific know-how (through trivia) and build a team of scientists and politicians in order to win the race.</p>
<br/>



<p><b>NEEDED EQUIPMENT:</b><br/>
Periodic table, calculator, pen, paper, Google Search</p>
<br/>



<p><b>TO START:</b><br/>
Who goes first is chosen at random.  Gameplay goes back and forth.</p>
<br/>



<p><b>RULES:</b><br/>

Upon a player's turn,<br/>

<p>Answer the question that is given at random.</p>
<p>If correct, player acquires a new team member.</p>
<p>If incorrect, player gets 1 security breach.  A total of 3 security breaches leaves you exposed to espionage.</p>
<p>Next player goes.</p></p>
<br/>


<p><b>TO WIN:</b><br/>
<p>The player who builds the bomb first wins. This is done by getting through four phases - Recruitment, Engineering, Construction, and Trinity.</p>

<p>To complete a phase, a player must answer 4 questions correctly, corresponding with the 'scientist' missing from the 'team'.</p>

<p>After a player has answered 16 questions correctly and collected all the necessary scientists, they must answer one more question to finish the game.</p>

<p>See 'build the bomb' for full schema.</p>
<br/>


<p><b>BUILDING THE BOMB:</b><br/>
A player must complete four phases:</br>

<p>Recruitment Phase<br/>
1 politician, 1 physicist, 1 chemist, 1 mathematician</p>

</p>
<p>Engineering Phase<br/>
1 politician, 1 physicist, 1 chemist, 1 mathematician</p>

<p>Construction Phase<br/>
1 politician, 1 physicist, 1 chemist, 1 mathematician</p>

<p>Trinity Phase<br/>
1 politician, 1 physicist, 1 chemist, 1 mathematician + trinity question</p>

<br/>



<p><b>HOW TO PROGRESS:</b><br/>
To complete each phase, the player must form a 'team' (answer a certain amount of questions in different subjects) in order to move to the next phase.<p/>

<p>As the game progresses, each question will require less and less time (a race against time!) to complete.  Unanswered questions will be marked as incorrect.</p>
<br/>


<p><b>WHAT IS 'SECURITY BREACH'?</b><br/>
Security breach tracks incorrect answers.  When the 'security breach' reaches 3, your opponent can perform 'espionage' at your nuclear site to steal a scientist (deduct two points).  It pays to get all your questions right.  Not just the ones related to scientists you need.</p>
<br/>


<p><b>HOW 'ESPIONAGE' WORKS?</b><br/>
When your opponent gets 3 answers, you can trigger the espionage button in order to slow down their progress.  The espionage button sends them a 'potpourri' question.  If they get it wrong, they lose 2 points.  If they get it right, then nothing.</p>
<br/>


<p><b>POSSIBLE SUBJECTS OF QUESTIONS:</b><br/>
physics<br/>
art<br/>
world history<br/>
mathametician<br/>
politician<br/>
chemistry</p>
</div>
